# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = seatsfinderbot.settings



[deploy:server2]
#url = http://39.104.135.0:6800/
#url = http://47.254.31.209:6800/
#url = http://127.0.0.1:6800/
project = seatsfinderbot
url = http://72.201.206.220:6800

version = 1.2
